@import "./normalize.css";

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;



  .hidden {
    display: none;
  }

  .alert {
    display: none;

    &--show {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}